main {
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
}

h1 {
    font-size: 50px;
    font-family: helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

.birds {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;

}

.bikes {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.design {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

h2 {
    font-family: helvetica, sans-serif;
    position: absolute;
    z-index: 1;
    background-color: lightgray;
    border-radius: 5px;
    padding: 4px;
    opacity: .7;
    
}

footer {
    text-align: center;
    margin-top: 100px;
}