main {
  display: flex;
  justify-content: center;
  margin-top: 120px;
  flex-wrap: wrap;
}

h1 {
  font-size: 50px;
  font-family: helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

.box {
  position: relative;
  width: 300px;
  height: 300px;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  margin: 50px;
}

img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

h2 {
  font-family: helvetica, sans-serif;
  position: absolute;
  z-index: 1;
  background-color: lightgray;
  border-radius: 5px;
  padding: 4px;
  opacity: 0.7;
}

footer {
  text-align: center;
  margin-top: 100px;
}

@media only screen and (max-width: 1100px) {
  .box {
    margin: 30px;
  }
  main {
    margin-top: 80px;
  }
  footer {
    margin-top: 50px;
  }
}
